body{
    font-size: 12px;
    font-family: "Lucida Grande", Verdana, "Bitstream Vera Sans", Arial, sans-serif;
    color: white;
    line-height: 22px;
    margin: 0;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    background-image:url("bg.png");
}

label {
    color: white;
    width: 200px;
    display: block;
    float: left;
    font-weight: bold;
}

textarea {
    width: 100%;
}

#front {
    display: block;
}

#back {
    display: none;
}

.right {
    display: block;
    float: right;
}

.left {
    display: block;
    float: left;
}

/*#infoButton {*/
/*position: relative;*/
/*display: block;*/
/*float: right;*/
/*right: 10px;*/
/*bottom: 10px;*/
/*}*/

/*#doneButton {*/
/*position: absolute;*/
/*bottom: 20px;*/
/*left: 82px;*/
/*}*/