<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>Venatir's Developer Tools</string>
    <key>CFBundleIdentifier</key>
    <string>com.venatir.widget.development.tools</string>
    <key>CFBundleName</key>
    <string>Venatir's Developer Tools</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CloseBoxInsetX</key>
    <integer>16</integer>
    <key>CloseBoxInsetY</key>
    <integer>14</integer>
    <key>MainHTML</key>
    <string>tools.html</string>
    <key>Width</key>
    <integer>500</integer>
    <key>Height</key>
    <integer>500</integer>
    <key>AllowNetworkAccess</key>
    <true/>
</dict>
</plist>
