body {
    font-size: 12px;
    background: #444444;
    font-family: "Lucida Grande", Verdana, "Bitstream Vera Sans", Arial, sans-serif;
    color: white;
    line-height: 22px;
    padding: 0;
    margin: 0;
    border: 0;
}

table, tr, td {
    font-size: 12px;
    padding: 0;
    margin: 0;
    border: 0;
}

label {
    color: white;
    width: 200px;
    display: block;
    float: left;
    font-weight: bold;
}

textarea {
    width: 100%;
}

#front {
    display: block;
}

#back {
    display: none;
}

.right {
    display: block;
    float: right;
}

.left {
    display: block;
    float: left;
}

/*#infoButton {*/
/*position: absolute;*/
/*bottom: 12px;*/
/*right: 40px;*/
/*}*/

/*#doneButton {*/
/*position: absolute;*/
/*bottom: 20px;*/
/*left: 82px;*/
/*}*/